@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  margin: 0;
  font-family: "Karla";
  
}





.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% ;
  background: #dff1e7;
  min-height: 100vh;
  

}

.form-container {
  max-width: 650px;
  width: 100%;
  min-width: 300px;
  background: white;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
}

.form-group {
  display: flex;
  width: 100%;
  gap: 15px;
  
}


.doble-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group1 {
  display: flex;
  width: 100%;
  flex-direction: column;
}



.doble-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.required-label::after {
  content: " *";
  color: hsl(169, 82%, 27%)
}



.radio-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  
}


.form-group-radio {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px; /* Espacio entre las opciones de radio */
  
}

/* Cada opción de radio en formato de fila */
.doble-inputs-radio {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el botón de radio y su etiqueta */
  border: 1px solid hsl(186, 15%, 59%);
  padding: 5px;
  border-radius: 10px;
  width: 50%;
}

/* Ajuste de tamaño del botón de radio */
.doble-inputs-radio input {
  width: 20px;
}



.checkbox {
  display: flex;
  gap: 20px;
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid;
  padding: 5px;
  background: hsl(169, 82%, 27%);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.required-label {
  margin-bottom: 10px;
}

.input-radio {
  height: 40px;
}


.input-form {
  height: 40px;
  border-radius: 10px;
  border: 1px solid hsl(186, 15%, 59%)
}

.input-form:focus {
  outline: 1px solid hsl(169, 82%, 27%);
}

.input-error {
  height: 40px;
  border-radius: 10px;
  border: 1px solid red
}



.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.textarea-form {
  height: 150px;
  border-radius: 10px;
  border: 1px solid hsl(186, 15%, 59%);
  font-size: 20px;
  padding: 10px;
}

.textarea-error {
  height: 40px;
  border-radius: 10px;
  border: 1px solid red;
  height: 150px;
  font-size: 15px;
}

.check-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checked {
  display: flex;
  align-items: center;
  gap: 10px; 
  border: 1px solid  hsl(169, 82%, 27%);
  background: hsl(148, 38%, 91%);
  padding: 5px;
  border-radius: 10px;
  width: 50%;
}


 input[type="radio"]:checked {
  width: 20px;
  
}

.notification-container {
 position: absolute;
 top: 10px;
}

.notification {
background: hsl(169, 82%, 27%);
border-radius: 15px;
padding: 5px 20px;
animation: fadeIn 1s ease-in-out
}

.notification-title {
  display: flex;
  gap: 10px;
}

.notification-title h3 {
  color: white;
}

.notification p {
  color: white;
  font-size: 0.8rem;
  margin-top: 0px;
}





@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 450px) {
  .form-group {
    flex-direction: column;
  }

  .form-group-radio {
    flex-direction: column;
  }
  
  .doble-inputs-radio{
    width: 100%;
    padding: 0px;
  }
}
